@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

html,
body {
    height: 100%;
    font-size: 20px;
}

.editor {
  padding: 2em 0;
  text-align: right;
  /* font-family: 'Droid Arabic Kufi', serif; */
  font-family: 'Arial', serif;
  direction: rtl;
}

textarea {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent transparent #f2f2f2;
  padding: 0 1em;
  outline: none;
}

.full-height {
  height: 100%;
}

.fixed {
  position: fixed;
}

img {
  max-width: 100%;
}

.ctrl-panel {
  border-bottom: 1px solid;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
